he6out
he6out/*
li9ntuples/*
AutoDict*
.nfs*
*_C.d
*_cxx.d
*.o
*.pdf
*.so
*.swp
tmp*
trigeff-*.C
b12search
be12search
buffersearch
calibstudyntuple
fissionsearch
microdst
neutronsearch
scramble
stoptoli9
foo*
seq?.ntuple
seq?.ntuple.root
*ACLiC*
*_out.h
*.out
*.technote
.~*#
*.out.h
*.out.fig.h
b12search-SL5
near_fullb12_finalfit
*.out
*.out?
*.out??
*.out???
*.out????
*.out?????
