he6out
he6out/*
li9ntuples/*
AutoDict*
*.d
.nfs*
*.o
*.pdf
*.so
*.swp
tmp*
trigeff-*.C
b12search
be12search
buffersearch
calibstudyntuple
fissionsearch
microdst
neutronsearch
scramble
stoptoli9
foo*
seq?.ntuple
seq?.ntuple.root
